body {
  background-color: darkseagreen;
}


h1 {
  color: white;
  text-shadow: 2px 2px 5px darkgreen;
  text-align: left;
  font-family: serif;
  font-size: 40px;
  padding-top: 25px;
 padding-right: 50px;
 padding-bottom: 25px;
 padding-left:50px;
border-left: 10px solid white;
border-top: 10px solid white;
width: 69%;
}
a {
  font-family: verdana;
  font-size: 20px;
  color: green;
}
p {
  font-family: serif;
  font-size: 20px;
  color: green;
}

td {
  text-shadow: 2px 2px 5px white;
  font-family: serif;
  font-size: 16px;
  color: white;
}

h2 { color: white;

  }
  .accordion {
    align: center;
  background-color: #green;
  color: #green;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  text-align: center;
  border: 1px;
  border-radius: 5px;
  outline: 5px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #darkseagreen;
}
.panel {
  width: 75%;
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
    border-radius: 12px;

}

img{
width: 1500px;



}
td {
  color: green;
  font-style: serif;

}
th {
  color: green;
  font-family: serif;



}
button:hover {
  background-color: white;
  color: yellowgreen;
  font-size: 30px;
  font-family: serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;

}
button {
  color: darkgreen;
  font-family: serif;
  font-size: 20px;



}
li {
  color: green;
  font-size: 20px;
  font-family: : serif;
}
}
